<header>
    <div class="logo">
        Recepies
    </div>

    <div class="difficult-navigation">
        <a routerLink="all">All</a>
        <a routerLink="easy">Easy</a>
        <a routerLink="medium">Medium</a>
    </div>

</header>

<div class="type-navigation">
    <a routerLink="/dinner">Dinner</a>
    <a routerLink="/lunch">Lunch</a>
    <a routerLink="/breakfast">Breakfast</a>
</div>

<main>
    <div class="container">

        <router-outlet/>

        <h3>More recipes</h3>
        <app-more-recipes-list/>
    </div>
</main>